{% load static %}

{% block head %}
<head>
	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.rateyo.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'inner-page-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>

{% endblock %}